body {
  background-color: #009900;
}

.main-div {
  margin: 200px auto 0 auto;
  width: 80%;
  min-height: 400px;
  border: 1px solid #1e2f97;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}
